.login-div{
    width:100vw;
    height: 105vh;
    background: url(../../images/borisunsplash.jpg) ;
    background-size:cover ;
    grid-column: 1/2;
    position: absolute;
    
}
.login-panel{
    background-color: var(--prim-color);
    width: 30vw;
    border: 1px solid gray;
    border-radius:8px;
    margin:25vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.login-panel h1{
    color: lightcoral; ;
    width: 100%;

    
}
.login-panel input{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border:none;
    margin: 5px;
    padding-left: 5px;
}